NODE_ENV=development

# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Umami (not needed in dev)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# AI
ANTHROPIC_API_KEY=

# Other
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3002
NEXT_PUBLIC_ALLOW_PREMIUM_FEATURES=true